In [2]:
import pandas as pd


df

,KREISE,Kreis / Landkreis,Fläche,insgesamt,männlich,weiblich,je km2
2,01001,"Flensburg, Stadt",56.73,92667.0,45905.0,46762.0,1633.0
3,01002,"Kiel, Landeshauptstadt",118.65,248873.0,120699.0,128174.0,2098.0
4,01003,"Lübeck, Hansestadt",214.19,219044.0,105259.0,113785.0,1023.0
5,01004,"Neumünster, Stadt",71.66,80185.0,39772.0,40413.0,1119.0
6,01051,Dithmarschen,1428.17,135653.0,66955.0,68698.0,95.0
...,...,...,...,...,...,...,...
466,16073,Saalfeld-Rudolstadt,1008.78,101044.0,49789.0,51255.0,100.0
467,16074,Saale-Holzland-Kreis,815.24,83643.0,41711.0,41932.0,103.0
468,16075,Saale-Orla-Kreis,1151.31,78619.0,39006.0,39613.0,68.0
469,16076,Greiz,845.98,95563.0,47108.0,48455.0,113.0
470,16077,Altenburger Land,569.42,88692.0,43245.0,45447.0,156.0