In [2]:
from destasis import json2df
import pandas as pd

In [11]:
df_stat = json2df("12411-0002_historisch")
df_stat

,DINSG,Deutschland insgesamt,NAT,Nationalität,STAG,Stichtag,Value
0,DG,Deutschland,NATD,Deutsche,1970-12-31,31.12.1970,58263259
1,DG,Deutschland,NATD,Deutsche,1971-12-31,31.12.1971,58314646
2,DG,Deutschland,NATD,Deutsche,1972-12-31,31.12.1972,58255300
3,DG,Deutschland,NATD,Deutsche,1973-12-31,31.12.1973,58110017
4,DG,Deutschland,NATD,Deutsche,1974-12-31,31.12.1974,57940513
...,...,...,...,...,...,...,...
157,DG,Deutschland,%TOTAL%,Insgesamt,2019-12-31,31.12.2019,83166711
158,DG,Deutschland,%TOTAL%,Insgesamt,2020-12-31,31.12.2020,83155031
159,DG,Deutschland,%TOTAL%,Insgesamt,2021-12-31,31.12.2021,83237124
160,DG,Deutschland,%TOTAL%,Insgesamt,2022-12-31,31.12.2022,83118501
161,DG,Deutschland,%TOTAL%,Insgesamt,2023-12-31,31.12.2023,83456045

In [13]:
df_stat = df_stat[["STAG", "Nationalität", "Value"]]
df_stat.to_csv("historisch_gesamt.csv")

In [12]:
df_stat3 = json2df("12521-0002_historisch")
df_stat3 = df_stat3[df_stat3["GES"] == "%TOTAL%"]
df_stat3 = df_stat3[["STAG", "Ländergruppierungen", "Value"]]
df_stat3.to_csv("historisch_ländergruppen.csv")

In [39]:
def titel_codierung(titel):
    dict = {
       'Aufenthaltsrecht nach FreizügG/EU': 'Aufenthaltsrecht nach FreizügG/EU',
       'Vom Erfordernis eines Aufenthaltstitels befreit': 'Andere',
       'Unbefristete Niederlassungserlaubnis': 'Unbefristete Niederlassungserlaubnis',
       'Befristete Aufenthaltserlaubnis, Ausbildung': "Erwerbstätigkeit und Ausbildung",
       'Befristete Aufenthaltserlaubnis, Erwerbstätigkeit': "Erwerbstätigkeit und Ausbildung",
       'Befristete AE, völkerrechtl., human., pol. Gründe': "Völkerrechtl., human., pol. Gründe",
       'Befristete Aufenthaltserlaubnis, familiäre Gründe': "Familiäre Gründe",
       'Befristete AE, besondere Gründe und nationale Visa': "Besondere Gründe und nationale Visa",
       'Antrag auf einen Aufenthaltstitel gestellt': 'Antrag auf einen Aufenthaltstitel gestellt', 
       'Duldung': 'Andere',
       'Aufenthaltsgestattung': 'Andere',
       'Ohne Aufenthaltstitel, Duldung oder Gestattung': 'Ohne Aufenthaltstitel, Duldung oder Gestattung'
    }
    return dict[titel]

In [13]:
df_stat4 = json2df("12521-0008_Titel_Länder")
df_stat4 = df_stat4[df_stat4["LDRGR1"].isin(["DRITT-EU-28", "EUROPA-EU-28"])]
df_stat4 = df_stat4[df_stat4["RECGL3"] != "REC-AE-08"]
#df_stat4["Aufenthaltstitel"] = df_stat4["Ausgewählte Aufenthaltstitel"].apply(titel_codierung)
#df_stat4 = df_stat4[["STAG", "Ländergruppierungen", "Value"]]
df_stat4 = df_stat4.groupby(["STAG", "Ausgewählte Aufenthaltstitel"])["Value"].sum().reset_index()
df_stat4.to_csv("historisch_titel.csv")

LDRGR1          Ländergruppierungen
AFRIKA          Afrika                                                 15972962
AFRIKANORD      Nordafrika                                              5916385
AFRIKAOST       Ostafrika                                               3534089
AFRIKASUED      Südafrika                                                687667
AFRIKAWEST      Westafrika                                              4290736
AFRIKAZENTR     Zentralafrika                                           1544040
AMERIKA         Amerika                                                 9607589
AMERIKAMIT2     Mittelamerika und Karibik                               1386388
AMERIKANORD     Nordamerika                                             4764845
AMERIKASUD      Südamerika                                              3456371
ASIEN           Asien                                                  60041597
ASIENOST2       Ost- und Zentralasien                                  16425408
ASIENSUED2      Süd- und Südostasien                                   14848777
ASIENVOR        Vorderasien                                            28767397
AUSTRALIEN      Australien und Ozeanien                                  562579
DRITT-EG-09     Drittstaaten zu EG-9 (bis 31.12.1980)                 266028660
DRITT-EG-10     Drittstaaten zu EG-10 (bis 31.12.1985)                256987023
DRITT-EG-12     Drittstaaten zu EG-12 (bis 31.12.1994)                249660294
DRITT-EU-15     Drittstaaten zu EU-15 (bis 30.04.2004)                243814284
DRITT-EU-25     Drittstaaten zu EU-25 (bis 31.12.2006)                219321184
DRITT-EU-27     Drittstaaten zu EU-27 (bis 30.06.2013)                204533444
DRITT-EU-27-1   Drittstaaten zu EU-27 (seit 01.02.2020)                74296280
DRITT-EU-28     Drittstaaten zu EU-28 (bis 31.01.2020)                196110665
DRITT-EWG-06    Drittstaaten zu EWG-6 (bis 31.12.1972)                269685740
EUROPA          Europa                                                204157537
EUROPA-EG-09    EG-9 (bis 31.12.1980)                                  27567728
EUROPA-EG-10    EG-10 (bis 31.12.1985)                                 36609435
EUROPA-EG-12    EG-12 (bis 31.12.1994)                                 43936184
EUROPA-EU-15    EU-15 (bis 30.04.2004)                                 49782159
EUROPA-EU-25    EU-25 (bis 31.12.2006)                                 74275189
EUROPA-EU-27    EU-27 (bis 30.06.2013)                                 89062959
EUROPA-EU-27-1  EU-27 (seit 01.02.2020)                                34585600
EUROPA-EU-28    EU-28 (bis 31.01.2020)                                 97485718
EUROPA-EWG-06   EWG-6 (bis 31.12.1972)                                 23910643
LDR-CZ          Gebiet der ehemaligen Tschechoslowakei                  2568112
LDR-GASTARB     Gastarbeiterländer                                    129787902
LDR-GB          Vereinigtes Königreich einschl.brit.Überseegebiete      1093306
LDR-SM          Gebiet des ehemaligen Serbien und Montenegro           12395452
LDR-SU          Gebiet der ehemaligen Sowjetunion                      25934289
LDR-YU          Gebiet des ehemaligen Jugoslawien                      37417573
Name: Value, dtype: int64

In [10]:
df_stat5 = json2df("12521-0002_historisch_staat")
df_stat5 = df_stat5[df_stat5["GES"] == "%TOTAL%"]
df_stat5 = df_stat5[df_stat5["STAAG6"] != "%TOTAL%"]
df_stat5 = df_stat5[["STAG", "Staatsangehörigkeit", "Value"]]
df_stat5.to_csv("historisch_staaten.csv")