In [2]:
from destasis import json2df
import pandas as pd

In [11]:
df_stat = json2df("12411-0002_historisch")
df_stat

,DINSG,Deutschland insgesamt,NAT,Nationalität,STAG,Stichtag,Value
0,DG,Deutschland,NATD,Deutsche,1970-12-31,31.12.1970,58263259
1,DG,Deutschland,NATD,Deutsche,1971-12-31,31.12.1971,58314646
2,DG,Deutschland,NATD,Deutsche,1972-12-31,31.12.1972,58255300
3,DG,Deutschland,NATD,Deutsche,1973-12-31,31.12.1973,58110017
4,DG,Deutschland,NATD,Deutsche,1974-12-31,31.12.1974,57940513
...,...,...,...,...,...,...,...
157,DG,Deutschland,%TOTAL%,Insgesamt,2019-12-31,31.12.2019,83166711
158,DG,Deutschland,%TOTAL%,Insgesamt,2020-12-31,31.12.2020,83155031
159,DG,Deutschland,%TOTAL%,Insgesamt,2021-12-31,31.12.2021,83237124
160,DG,Deutschland,%TOTAL%,Insgesamt,2022-12-31,31.12.2022,83118501
161,DG,Deutschland,%TOTAL%,Insgesamt,2023-12-31,31.12.2023,83456045

In [13]:
df_stat = df_stat[["STAG", "Nationalität", "Value"]]
df_stat.to_csv("historisch_gesamt.csv")

In [3]:
df_stat2 = json2df("12521-0002_historisch")
df_stat2

,DINSG,Deutschland insgesamt,GES,Geschlecht,LDRGR1,Ländergruppierungen,STAG,Stichtag,Value
0,DG,Deutschland,GESM,männlich,EUROPA,Europa,1967-09-30,30.09.1967,1054688
1,DG,Deutschland,GESM,männlich,EUROPA,Europa,1968-09-30,30.09.1968,1111329
2,DG,Deutschland,GESM,männlich,EUROPA,Europa,1969-09-30,30.09.1969,1375093
3,DG,Deutschland,GESM,männlich,EUROPA,Europa,1970-09-30,30.09.1970,1721748
4,DG,Deutschland,GESM,männlich,EUROPA,Europa,1971-09-30,30.09.1971,1971100
...,...,...,...,...,...,...,...,...,...
7129,DG,Deutschland,%TOTAL%,Insgesamt,%TOTAL%,Insgesamt,2020-12-31,31.12.2020,11432460
7130,DG,Deutschland,%TOTAL%,Insgesamt,%TOTAL%,Insgesamt,2021-12-31,31.12.2021,11817790
7131,DG,Deutschland,%TOTAL%,Insgesamt,%TOTAL%,Insgesamt,2022-12-31,31.12.2022,13383910
7132,DG,Deutschland,%TOTAL%,Insgesamt,%TOTAL%,Insgesamt,2023-12-31,31.12.2023,13895865
7133,DG,Deutschland,%TOTAL%,Insgesamt,%TOTAL%,Insgesamt,2024-12-31,31.12.2024,14061640

In [6]:
df_stat2.groupby(["LDRGR1", "Ländergruppierungen"])["Value"].sum()

LDRGR1          Ländergruppierungen
%TOTAL%         Insgesamt                                             761475879
AFRIKA          Afrika                                                 30811706
AFRIKANORD      Nordafrika                                             10328285
AFRIKAOST       Ostafrika                                               5171272
AFRIKASUED      Südafrika                                               1185923
AFRIKAWEST      Westafrika                                              7221144
AFRIKAZENTR     Zentralafrika                                           2384604
AMERIKA         Amerika                                                21044808
AMERIKAMIT2     Mittelamerika und Karibik                               2099899
AMERIKANORD     Nordamerika                                            12283491
AMERIKASUD      Südamerika                                              5419688
ASIEN           Asien                                                  97434386
ASIENOST2       Ost- und Zentralasien                                  23478955
ASIENSUED2      Süd- und Südostasien                                   24518449
ASIENVOR        Vorderasien                                            39935938
AUSTRALIEN      Australien und Ozeanien                                 1149666
DRITT-EG-09     Drittstaaten zu EG-9 (bis 31.12.1980)                 653065602
DRITT-EG-10     Drittstaaten zu EG-10 (bis 31.12.1985)                615021071
DRITT-EG-12     Drittstaaten zu EG-12 (bis 31.12.1994)                583477427
DRITT-EU-15     Drittstaaten zu EU-15 (bis 30.04.2004)                560129651
DRITT-EU-25     Drittstaaten zu EU-25 (bis 31.12.2006)                394736435
DRITT-EU-27     Drittstaaten zu EU-27 (bis 30.06.2013)                363889511
DRITT-EU-27-1   Drittstaaten zu EU-27 (seit 01.02.2020)               104303360
DRITT-EU-28     Drittstaaten zu EU-28 (bis 31.01.2020)                346228652
DRITT-EWG-06    Drittstaaten zu EWG-6 (bis 31.12.1972)                666281528
EUROPA          Europa                                                602356035
EUROPA-EG-09    EG-9 (bis 31.12.1980)                                 108410262
EUROPA-EG-10    EG-10 (bis 31.12.1985)                                146454818
EUROPA-EG-12    EG-12 (bis 31.12.1994)                                177998427
EUROPA-EU-15    EU-15 (bis 30.04.2004)                                201346213
EUROPA-EU-25    EU-25 (bis 31.12.2006)                                176527086
EUROPA-EU-27    EU-27 (bis 30.06.2013)                                207374030
EUROPA-EU-27-1  EU-27 (seit 01.02.2020)                                69167485
EUROPA-EU-28    EU-28 (bis 31.01.2020)                                225034889
EUROPA-EWG-06   EWG-6 (bis 31.12.1972)                                 95194366
LDR-CZ          Gebiet der ehemaligen Tschechoslowakei                  6870008
LDR-GASTARB     Gastarbeiterländer                                    422036247
LDR-GB          Vereinigtes Königreich einschl.brit.Überseegebiete      2131855
LDR-SM          Gebiet des ehemaligen Serbien und Montenegro           18588721
LDR-SU          Gebiet der ehemaligen Sowjetunion                      39734860
LDR-YU          Gebiet des ehemaligen Jugoslawien                     104618139
Name: Value, dtype: int64

In [11]:
df_stat3 = df_stat2[df_stat2["LDRGR1"].isin(["AFRIKA", "ASIEN", "EUROPA", "AMERIKA"])]
df_stat3 = df_stat3[df_stat3["GES"] == "%TOTAL%"]
df_stat3 = df_stat3[["STAG", "Ländergruppierungen", "Value"]]
df_stat3.to_csv("historisch_kontinente.csv")

In [39]:
def titel_codierung(titel):
    dict = {
       'Aufenthaltsrecht nach FreizügG/EU': 'Aufenthaltsrecht nach FreizügG/EU',
       'Vom Erfordernis eines Aufenthaltstitels befreit': 'Andere',
       'Unbefristete Niederlassungserlaubnis': 'Unbefristete Niederlassungserlaubnis',
       'Befristete Aufenthaltserlaubnis, Ausbildung': "Erwerbstätigkeit und Ausbildung",
       'Befristete Aufenthaltserlaubnis, Erwerbstätigkeit': "Erwerbstätigkeit und Ausbildung",
       'Befristete AE, völkerrechtl., human., pol. Gründe': "Völkerrechtl., human., pol. Gründe",
       'Befristete Aufenthaltserlaubnis, familiäre Gründe': "Familiäre Gründe",
       'Befristete AE, besondere Gründe und nationale Visa': "Besondere Gründe und nationale Visa",
       'Antrag auf einen Aufenthaltstitel gestellt': 'Antrag auf einen Aufenthaltstitel gestellt', 
       'Duldung': 'Andere',
       'Aufenthaltsgestattung': 'Andere',
       'Ohne Aufenthaltstitel, Duldung oder Gestattung': 'Ohne Aufenthaltstitel, Duldung oder Gestattung'
    }
    return dict[titel]

In [40]:
df_stat4 = json2df("12521-0008_Titel_Länder")
df_stat4 = df_stat4[df_stat4["LDRGR1"].isin(["DRITT-EU-28", "EUROPA-EU-28"])]
df_stat4 = df_stat4[df_stat4["RECGL3"] != "REC-AE-08"]
df_stat4["Aufenthaltstitel"] = df_stat4["Ausgewählte Aufenthaltstitel"].apply(titel_codierung)
#df_stat4 = df_stat4[["STAG", "Ländergruppierungen", "Value"]]
df_stat4 = df_stat4.groupby(["STAG", "Aufenthaltstitel"])["Value"].sum().reset_index()
df_stat4.to_csv("historisch_titel.csv")

LDRGR1          Ländergruppierungen
AFRIKA          Afrika                                                 15972962
AFRIKANORD      Nordafrika                                              5916385
AFRIKAOST       Ostafrika                                               3534089
AFRIKASUED      Südafrika                                                687667
AFRIKAWEST      Westafrika                                              4290736
AFRIKAZENTR     Zentralafrika                                           1544040
AMERIKA         Amerika                                                 9607589
AMERIKAMIT2     Mittelamerika und Karibik                               1386388
AMERIKANORD     Nordamerika                                             4764845
AMERIKASUD      Südamerika                                              3456371
ASIEN           Asien                                                  60041597
ASIENOST2       Ost- und Zentralasien                                  16425408
ASIENSUED2      Süd- und Südostasien                                   14848777
ASIENVOR        Vorderasien                                            28767397
AUSTRALIEN      Australien und Ozeanien                                  562579
DRITT-EG-09     Drittstaaten zu EG-9 (bis 31.12.1980)                 266028660
DRITT-EG-10     Drittstaaten zu EG-10 (bis 31.12.1985)                256987023
DRITT-EG-12     Drittstaaten zu EG-12 (bis 31.12.1994)                249660294
DRITT-EU-15     Drittstaaten zu EU-15 (bis 30.04.2004)                243814284
DRITT-EU-25     Drittstaaten zu EU-25 (bis 31.12.2006)                219321184
DRITT-EU-27     Drittstaaten zu EU-27 (bis 30.06.2013)                204533444
DRITT-EU-27-1   Drittstaaten zu EU-27 (seit 01.02.2020)                74296280
DRITT-EU-28     Drittstaaten zu EU-28 (bis 31.01.2020)                196110665
DRITT-EWG-06    Drittstaaten zu EWG-6 (bis 31.12.1972)                269685740
EUROPA          Europa                                                204157537
EUROPA-EG-09    EG-9 (bis 31.12.1980)                                  27567728
EUROPA-EG-10    EG-10 (bis 31.12.1985)                                 36609435
EUROPA-EG-12    EG-12 (bis 31.12.1994)                                 43936184
EUROPA-EU-15    EU-15 (bis 30.04.2004)                                 49782159
EUROPA-EU-25    EU-25 (bis 31.12.2006)                                 74275189
EUROPA-EU-27    EU-27 (bis 30.06.2013)                                 89062959
EUROPA-EU-27-1  EU-27 (seit 01.02.2020)                                34585600
EUROPA-EU-28    EU-28 (bis 31.01.2020)                                 97485718
EUROPA-EWG-06   EWG-6 (bis 31.12.1972)                                 23910643
LDR-CZ          Gebiet der ehemaligen Tschechoslowakei                  2568112
LDR-GASTARB     Gastarbeiterländer                                    129787902
LDR-GB          Vereinigtes Königreich einschl.brit.Überseegebiete      1093306
LDR-SM          Gebiet des ehemaligen Serbien und Montenegro           12395452
LDR-SU          Gebiet der ehemaligen Sowjetunion                      25934289
LDR-YU          Gebiet des ehemaligen Jugoslawien                      37417573
Name: Value, dtype: int64

In [35]:
df_stat4 = json2df("12521-0008_Titel_Länder")
df_stat4["Ausgewählte Aufenthaltstitel"].unique()

array(['Aufenthaltsrecht nach FreizügG/EU',
       'Vom Erfordernis eines Aufenthaltstitels befreit',
       'Unbefristete Niederlassungserlaubnis',
       'Befristete Aufenthaltserlaubnis',
       'Befristete Aufenthaltserlaubnis, Ausbildung',
       'Befristete Aufenthaltserlaubnis, Erwerbstätigkeit',
       'Befristete AE, völkerrechtl., human., pol. Gründe',
       'Befristete Aufenthaltserlaubnis, familiäre Gründe',
       'Befristete AE, besondere Gründe und nationale Visa',
       'Antrag auf einen Aufenthaltstitel gestellt', 'Duldung',
       'Aufenthaltsgestattung',
       'Ohne Aufenthaltstitel, Duldung oder Gestattung'], dtype=object)