## Destatis: Allgemeinbildende Schulen
https://www.destatis.de/DE/Themen/Gesellschaft-Umwelt/Bildung-Forschung-Kultur/Schulen/Publikationen/_publikationen-innen-schulen-allgemeinbildende.html

### Tabelle 21111-03:

- Schüler/-innen (Deutsche, Ausländer/-innen) nach Bildungsbereichen, rechtlichem Status der Schule, Schularten und Geschlecht
- Schuljahr 2021/2022, 2022/2023, 2023/2024 

### Tabelle 21111-08:

- Ausländische Schüler/-innen nach Schularten, Staatsangehörigkeit und Geschlecht
- Schuljahr 2021/2022, 2022/2023, 2023/2024 

### Tabelle 21111-12:

- Absolvierende / Abgehende (Deutsche, Ausländer/-innen) nach Abschluss-, Schularten, Klassen-/Jahrgangsstufen und Geschlecht (einschl. Externe) 
- Jahre 2021 / 2022 / 2023

In [51]:
import pandas as pd
import numpy as np

### Tabellen 21111-03, 21111-08 und 21111-12 der einzelnen Schuljahre als csv speichern

In [1]:
df = pd.read_excel('2110100227005_SB_korr12102023_2021_2022.xlsx', sheet_name='csv-21111-03')  
df.to_csv('allgemeinbildende_schulen_2021_202221111-03.csv', index=False, sep=';')

In [41]:
df = pd.read_excel('2110100227005_SB_korr12102023_2021_2022.xlsx', sheet_name='csv-21111-08')  
df.to_csv('allgemeinbildende_schulen_2021_2022_21111-08.csv', index=False, sep=";")

In [42]:
# Bereinigung der Tabellen -08 , da einige Zeilen beim Einlesen verschoben wurden (da wo ein Komma in Staatsangehörigkeit vorhanden)

df = pd.read_csv("allgemeinbildende_schulen_2021_2022_21111-08.csv", sep =';')

# Gültige Werte für Geschlecht
gueltige_geschlechter = ['Insgesamt', 'männlich', 'weiblich']

def korrigiere_zeile(row):
    if row['Geschlecht'] not in gueltige_geschlechter:
        # Staatsangehoerigkeit + ", " + Geschlecht
        row['Staatsangehoerigkeit'] = row['Staatsangehoerigkeit'].strip() + ", " + row['Geschlecht'].strip()
        # Werte nach links schieben
        row['Geschlecht'] = row['auslaendische_Schueler_innen_Anzahl']
        row['auslaendische_Schueler_innen_Anzahl'] = row['Extra']
        row['Extra'] = ''
    return row

df = df.apply(korrigiere_zeile, axis=1)

# In neue Datei schreiben
df['auslaendische_Schueler_innen_Anzahl'] = pd.to_numeric(df['auslaendische_Schueler_innen_Anzahl'], errors='coerce').fillna(0).astype(int)
df = df.drop(columns=['Extra'])
df.to_csv('allgemeinbildende_schulen_2021_2022_21111-08.csv', index=False)

In [3]:
df = pd.read_excel('2110100227005_SB_korr12102023_2021_2022.xlsx', sheet_name='csv-21111-12')  
df.to_csv('allgemeinbildende_schulen_2021_21111-12.csv', index=False, sep=';')

In [5]:
df = pd.read_excel('statistischer-bericht-allgemeinbildende-schulen-2110100237005_2022_2023.xlsx', sheet_name='csv-21111-03')  
df.to_csv('allgemeinbildende_schulen_2022_2023_21111-03.csv', index=False, sep=';')

C:\Users\alexa\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [44]:
df = pd.read_excel('statistischer-bericht-allgemeinbildende-schulen-2110100237005_2022_2023.xlsx', sheet_name='csv-21111-08')  
df.to_csv('allgemeinbildende_schulen_2022_2023_21111-08.csv', index=False, sep=';')

In [45]:
# Bereinigung der Tabellen -08 , da einige Zeilen beim Einlesen verschoben wurden (da wo ein Komma in Staatsangehörigkeit vorhanden)

df = pd.read_csv("allgemeinbildende_schulen_2022_2023_21111-08.csv", sep =';')

# Gültige Werte für Geschlecht
gueltige_geschlechter = ['Insgesamt', 'männlich', 'weiblich']

def korrigiere_zeile(row):
    if row['Geschlecht'] not in gueltige_geschlechter:
        # Staatsangehoerigkeit + ", " + Geschlecht
        row['Staatsangehoerigkeit'] = row['Staatsangehoerigkeit'].strip() + ", " + row['Geschlecht'].strip()
        # Werte nach links schieben
        row['Geschlecht'] = row['auslaendische_Schueler_innen_Anzahl']
        row['auslaendische_Schueler_innen_Anzahl'] = row['Extra']
        row['Extra'] = ''
    return row

df = df.apply(korrigiere_zeile, axis=1)

# In neue Datei schreiben
df['auslaendische_Schueler_innen_Anzahl'] = pd.to_numeric(df['auslaendische_Schueler_innen_Anzahl'], errors='coerce').fillna(0).astype(int)
df = df.drop(columns=['Extra'])
df.to_csv('allgemeinbildende_schulen_2022_2023_21111-08.csv', index=False)

In [7]:
df = pd.read_excel('statistischer-bericht-allgemeinbildende-schulen-2110100237005_2022_2023.xlsx', sheet_name='csv-21111-12')  
df.to_csv('allgemeinbildende_schulen_2022_2023_21111-12.csv', index=False, sep=';')

C:\Users\alexa\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [8]:
df = pd.read_excel('statistischer-bericht-allgemeinbildende-schulen-2110100247005_2023_2024.xlsx', sheet_name='csv-21111-03')  
df.to_csv('allgemeinbildende_schulen_2023_2024_21111-03.csv', index=False, sep=';')

C:\Users\alexa\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [46]:
df = pd.read_excel('statistischer-bericht-allgemeinbildende-schulen-2110100247005_2023_2024.xlsx', sheet_name='csv-21111-08')  
df.to_csv('allgemeinbildende_schulen_2023_2024_21111-08.csv', index=False, sep=';')

In [47]:
# Bereinigung der Tabellen -08 , da einige Zeilen beim Einlesen verschoben wurden (da wo ein Komma in Staatsangehörigkeit vorhanden)

df = pd.read_csv("allgemeinbildende_schulen_2023_2024_21111-08.csv", sep =';')

# Gültige Werte für Geschlecht
gueltige_geschlechter = ['Insgesamt', 'männlich', 'weiblich']

def korrigiere_zeile(row):
    if row['Geschlecht'] not in gueltige_geschlechter:
        # Staatsangehoerigkeit + ", " + Geschlecht
        row['Staatsangehoerigkeit'] = row['Staatsangehoerigkeit'].strip() + ", " + row['Geschlecht'].strip()
        # Werte nach links schieben
        row['Geschlecht'] = row['auslaendische_Schueler_innen_Anzahl']
        row['auslaendische_Schueler_innen_Anzahl'] = row['Extra']
        row['Extra'] = ''
    return row

df = df.apply(korrigiere_zeile, axis=1)

# In neue Datei schreiben
df['auslaendische_Schueler_innen_Anzahl'] = pd.to_numeric(df['auslaendische_Schueler_innen_Anzahl'], errors='coerce').fillna(0).astype(int)
df = df.drop(columns=['Extra'])
df.to_csv('allgemeinbildende_schulen_2023_2024_21111-08.csv', index=False)

In [10]:
df = pd.read_excel('statistischer-bericht-allgemeinbildende-schulen-2110100247005_2023_2024.xlsx', sheet_name='csv-21111-12')  
df.to_csv('allgemeinbildende_schulen_2023_21111-12.csv', index=False, sep=';')

### 21111-03 - Tabellen der einzelnen Jahre zusammenfügen

In [26]:
# CSV-Dateien einlesen
df1 = pd.read_csv('allgemeinbildende_schulen_2021_2022_21111-03.csv')
df2 = pd.read_csv('allgemeinbildende_schulen_2022_2023_21111-03.csv')
df3 = pd.read_csv('allgemeinbildende_schulen_2023_2024_21111-03.csv')

# Zusammenfügen (untereinander)
df_gesamt = pd.concat([df1, df2, df3], ignore_index=True)

# In neue Datei schreiben 
df_gesamt.to_csv('Destatis_21111-03_allgemeinbildende_schulen_2021_2024_zusammengefuegt.csv', index=False)

### 21111-08 - Tabellen der einzelnen Jahre zusammenfügen

In [48]:
# CSV-Dateien einlesen
df1 = pd.read_csv('allgemeinbildende_schulen_2021_2022_21111-08.csv')
df2 = pd.read_csv('allgemeinbildende_schulen_2022_2023_21111-08.csv')
df3 = pd.read_csv('allgemeinbildende_schulen_2023_2024_21111-08.csv')

# Zusammenfügen (untereinander)
df_gesamt = pd.concat([df1, df2, df3], ignore_index=True)

# In neue Datei schreiben 
df_gesamt.to_csv('Destatis_21111-08_allgemeinbildende_schulen_2021_2024_zusammengefuegt.csv', index=False)

### 21111-12 - Tabellen der einzelnen Jahre zusammenfügen

In [50]:
# CSV-Dateien einlesen
df1 = pd.read_csv('allgemeinbildende_schulen_2021_21111-12.csv')
df2 = pd.read_csv('allgemeinbildende_schulen_2022_21111-12.csv')
df3 = pd.read_csv('allgemeinbildende_schulen_2023_21111-12.csv')

# Zusammenfügen (untereinander)
df_gesamt = pd.concat([df1, df2, df3], ignore_index=True)

# In neue Datei schreiben 
df_gesamt.to_csv('Destatis_21111-12_allgemeinbildende_schulen_2021_2023_zusammengefuegt.csv', index=False)